<form class="form-content">
    <div class="title">
      <h1>Deletando Categoria</h1>
    </div>
    
    <mat-form-field class="form">
      <mat-label>Nome</mat-label>
      <input matInput [(ngModel)]="categoria.nome"  type="text" name="nome" disabled  />
    </mat-form-field>
  
    <mat-form-field class="form">
      <mat-label>Descrição</mat-label>
      <textarea matInput  [(ngModel)]="categoria.descricao" type="text" name="descricao" disabled ></textarea>
    </mat-form-field>
  
    <div class="button">
        <button  (click)="delete()" class="mat-elevation-z8"  mat-flat-button >DELETAR</button>
        <button  (click)="cancel()" class="mat-elevation-z8"  mat-flat-button color="warn">CANCELAR</button>
    </div>
  
  </form>
