.content{
    width: 90%;
    margin: 1.4rem auto;
}

.title{
    text-align: center;
    margin-bottom: 3rem;
}

.title h1 {
    font-size: 1.5rem;
    font-weight: 500;
    color: aliceblue;
}

.table{
    width: 100%;
}

.edit{
    color: darkorange;
}
.delete{
    color: rgb(209, 19, 19);
    margin-left: .5rem;
}
.book{
    color: rgb(81, 82, 81);
    margin-left: .6rem;
}

.mat-header {
    width: 5rem;
}

.botao{
    margin-bottom: .8rem;
}